body {
  margin: 0%;
}
h1{text-align: center;}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
 margin: 2em;
 gap: 1em;
}
.span2x1 {
  grid-column: span 2;
}

img {
  max-width: 100%;
  height: auto;
}


.gallery:hover img {
  transform: scale(1.1);
}

@media (min-width: 800px) {
  .gallery {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    gap: 0.5em;
  }
.two-fw{order: 2;}

  .span2x1 {
    grid-column: span 2;
  }
}
