body {
  margin: 0%;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}
.span2x1 {
  grid-column: span 2;
}

img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 800px) {
  .gallery {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    gap: 0.5em;
  }
.two-fw{order: 2;}

  .gl-span2x1 {
    grid-column: span 2;
  }
}
