body {
  margin: 0%;
}
main {
  margin-left: 2em;
  margin-right: 2em;
}
video {
  max-width: 100%;
  border-radius: 1em;
}

img {
  max-width: 100%;
  border-radius: 10%;
}

.flex_col img {
  width: 100%;
  height: auto;
}


.flex_col {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
}

.baggrundsfarve_forside{
  background-color: #bdbfaa;
}

h2{
  text-align: center;
}
