/* animation css */

/* @keyframes zoom-in-out {
    0% {
      transform: scale(1);
    }
    50% { 
      transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
  }

  .zoom-container{
    display: flex;
    justify-content: center;
    height: 100%;
  }
  
  .zoom-image{
      max-width: 100%;
      animation: zoom-in-out 4s infinite;
  } */
/* form css */

label,
input,
textarea,
select,
button {
  display: block;
  
}

  .form-felt {
    display: grid;
    gap: 3px;
  }

/* generel css */
body{
    margin: 0%;
}

h1{
  text-align: center;
}

h2{
    text-align: center;
}

.grid_1{
    background-color: #BDBFAA;
}

.grid_2{
    background-color: #BDBFAA;
}

main p{
    margin: 5%;
    text-align: center;
} 

/* footer css */
.gridfooter_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    text-align: center;
    margin: 0%;
    padding: 0%;
    background-color: #d9d0c7;
    color: black;
  }

@media (max-width: 800px){

img{
    max-width: 100%;
}
.grid_3{
    background-image: url('/img/baggrund_kontakt.webp'); 
    background-size: cover;
    }  
 .zoom-image{
 max-width: 50%;
 align-items: center;
margin: 10%;  }
    }

@media (min-width: 800px){
    .grid_1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        padding: 3%;
    }
  img{
    max-width: 100%;
    padding-top: 10%;
  }  

  p{
    margin: 9%;
  }

  .grid_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 3%;
    text-align: center;
  }

  .zoom-image{
   max-width: 50%;
    align-items: center;

}

  .grid_3{
    background-image: url('/img/baggrund_kontakt.webp'); 
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    }      
}



