/* form css */
label,
input,
textarea,
select,
button {
  display: block;
  
}

  .form-felt {
    display: grid;
    gap: 3px;
  }

/* generel css */
body{
    margin: 0%;
}

h1{
  text-align: center;
  background-color: #BDBFAA;
  margin: 0;
  padding-top: 5%;
}

.kontakt_h1{
  font-size: var(--fs-xl);
}

h2{
    text-align: center;
}

.grid_1{
    background-color: #BDBFAA;
}

.grid_2{
    background-color: #BDBFAA;
}

main p{
    margin: 5%;
    text-align: center;
} 

/* footer css */

.gridfooter_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  /* text-align: center; */
  margin: 0%;
  padding: 0%;
  justify-content: right;
  justify-items: center;
}

a {
  color: #514137;
  text-decoration: none;
}

a:visited {
  color: #514137;
  text-decoration: none;
}

a:hover {
  color: white;
}

.form-container{
  display: grid;
  place-items: center;
  background-image: url('/img/baggrund_kontakt.webp'); 
  background-size: cover;
  background-repeat: no-repeat;
  }   

  .form-item{
    border-radius: 5%;
    background-color: rgba(217, 208, 199, 0.75);
    width: 50%;
    height: 70%;
    margin: 10%;
    padding: 10%;
  }

img{
  max-width: 100%;
  padding-top: 10%;
}  

@media (max-width: 800px){
  .form-felt1, .form-felt2, .form-felt3, .form-felt4 {
    margin-bottom: 1em;}  

}

@media (min-width: 800px){
    .grid_1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        padding: 3%;
    }
  img{
    max-width: 100%;
    padding-top: 10%;
  }  

  p{
    margin: 9%;
  }

  .grid_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 3%;
    text-align: center;
  }

  .form-felt1, .form-felt2, .form-felt3, .form-felt4 {
    margin-bottom: 1em;
      }

}




