body {
  margin: 0;
}

label,
input,
textarea,
select,
button {
  display: block;
  
}

h1 {
  text-align: center;
}

  @media (max-width: 800px) {
    body {
      display: grid;
      gap: 1em;
    } 
  .flex_col1 {
      padding: 2em;
      margin: 5%;
      background-color: #d9d0c7;
    }
    
  .tekstpris {
    background-color: #bdbfaa;
    padding: 3em;
    margin: 5%;
    max-width: 65ch;
  }

  .priserbillede {
    width: 100%;
    background-size: cover;
    padding: 1.5em;
  }

.form-felt1, .form-felt2, .form-felt3, .form-felt4 {
margin-bottom: 1em;
  }

  .button {
    background-color: #59473C;
    padding: 1%;
    color: #d9d0c7;
    font-weight: bold;
  }

  .form-felt {
    display: grid;
    gap: 3px;
  }

  footer {
    margin: 0%;
    padding: 0%;
    background-color: #d9d0c7;
    color: black;
    text-align: center;
    
  }
  
  .gridfooter_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    text-align: center;
  }

  .tekstfooter {
    width: 70%;
  }

  .footerbillede {
    margin-top: 80px;
    width: 100%;
  }
  
  }
  
  @media (min-width: 800px) {
      body {
        display: grid;
        gap: 1em;
      } 

  .flex_col1 {
        width: 90%;
        padding: 2em;
        margin: 5%;
        background-color: #d9d0c7;
      }
      
  .tekstpris {
      background-color: #bdbfaa;
      padding: 2em;
      margin: 5%;
    }

  .priserbillede {
        width: 100%;
        background-size: cover;
        padding: 2em;
        
      }

  .form-felt {
    display: grid;
    gap: 3px;
  }

  .form-felt1, .form-felt2, .form-felt3, .form-felt4 {
    margin-bottom: 1em;
      }

 .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


 .button {
  background-color: #59473C;
  padding: 1%;
  color: #d9d0c7;
  font-weight: bold;
}

.footerbillede {
  width: 40%;
  height: 85%;
  margin-top: 2%;
  margin-right: -20px;
}

    }

 footer {
  margin: 0%;
  padding: 0%;
  background-color: #d9d0c7;
  color: black;
}

 .gridfooter_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  text-align: center;
}

.footerbillede {
  margin-left: -60px;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}