@font-face{
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.woff2') format('woff2');
}

html{
    --bg-clr: #F2F0EB;
    --fh-clr: #D9D0C7;

    --ff-main:'Roboto', sans-serif;
    --lh-main: 2em; 
    --fs-main: 
}

body{
    /* farver */ 
    background-color: var(--bg-clr); 


    font-family: var(--ff-main);
}

main p{
    line-height: var(--lh-main);
}

main{
    background-color: var(--bg-clr);
}

footer{
    color:var(--fh-farve);
}

header{
    color:var(--fh-farve);
}